body {
    background-color: rgb(214, 214, 166);
    color: midnightblue;
}
header {
    background-color: skyblue;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/4;
    padding-top: 20px;
}
header a:link {
    color: midnightblue;
    text-decoration: none;
}
header a:visited {
    color: midnightblue;
    text-decoration: none;
}
header a:hover {
    color: purple;
}
nav {
    font-weight: bold;
    grid-row: 2/4;
    grid-column: 1/2;
    background-image: linear-gradient(to left, white, gray);
}
nav ul {
    list-style-type: none;
}
nav a {
    transition: color 2s ease-in-out;
}
nav a:hover {
    color: gray;
}
main {
    background-color: white;
    padding: 15px;
}
header img {
    float: left;
    margin-left: 5px;
}
main img {
    margin-left: 60px;
}
table {
    background-color: rgb(218, 218, 218);
    width: 80%;
    margin: auto;
    padding: 1em;
    border: 1px solid black;
}
td, th {
    border: 2px solid black;
}
label {
    display: block;
    float: left;
    clear: left;
    width: 180px;
    padding-right: 1em;
    text-align: right;
    margin-top: 10px;
}
input {
    display: block;
    margin-top: 10px;
}
input[type=checkbox] {
    margin-top: 15px;
}
input[type=submit] {
    margin-left: 190px;
}

footer {
    background-color: white;
    text-align: center;
    font-style: italic;
    font-size: small;
    grid-row: 3/4;
    grid-column: 2/4;
}
footer img {
    float: right;
    padding: 10px;
}
.center {
    text-align: center;
}
#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    
}
#grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 130px auto auto;
}